body {
    /* background-color: rgba(216, 45, 187, 0.466); */
    background-image: url("../images/js.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
   }

.result-img {
   margin: auto;
   margin-top: 0px;
}

